<p>こんにちは <%= @resource.email %>様</p>

<p>パスワード変更を受け付けました。以下のリンクからパスワードを変更することができます。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
